<div class="container">
  <div class="left-container">
    <div class="title">PetPlanet</div>
    <div class="button-container">
      <div class="action-button" routerLink="/register" *ngIf="!checkAnimal()">
        <i class="material-icons">create</i>
        <div class="label">Inserisci informazioni animale</div>
      </div>
      <div class="action-button" routerLink="/register" *ngIf="checkAnimal()">
        <i class="material-icons">create</i>
        <div class="label">Modifica dati animale</div>
      </div>
      <div class="action-button" routerLink="/post">
        <i class="material-icons">local_post_office</i>
        <div class="label">I miei post</div>
      </div>
      <div class="action-button" (click)="openPetFriendDialog()">
        <i class="material-icons">group</i>
        <p (click)="openPetFriendDialog()">petFriend: <span class="colorButtonPet">{{ friendsList.length }}</span> </p>
      </div>
      <div class="action-button" (click)="openFollowerDialogComponent()">
        <i class="material-icons">people_outline</i>
        <p (click)="openFollowerDialogComponent()">petFollower: <span class="colorButtonPet">{{ followersList.length }}</span></p>
      </div>
    </div>
  </div>

  <div class="imageAndIndoContainer">
    <div class="image-profile-container">
      <img mat-card-image class="profilePic" *ngIf="animal.image && animal.image" [src]="imageURL"
        alt="Photo of the animal">
    </div>
  
    <div class="info-animale-container">
  
      <mat-card class="info-animale-position">
        <mat-card-content *ngIf="checkAnimal()">
          <!-- <img *ngIf="animal.image && animal.image.data" [src]="imageURL"> -->
          <h2>{{ animal.nome }}</h2>
          <p>Tipo: {{ animal.tipoAnimale }}</p>
          <p *ngIf="animal.razza">Razza: {{ animal.razza }}</p>
          <p *ngIf="animal.sesso">Sesso: {{ animal.sesso }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="badge-container">
    <h1>I tuoi badge</h1>

    <img class="badge"
      src="https://res.cloudinary.com/practicaldev/image/fetch/s--46c9RZh7--/c_limit,f_auto,fl_progressive,q_80,w_192/https://dev-to-uploads.s3.amazonaws.com/uploads/badge/badge_image/236/Thumbs_Up-04.png"
      vspace="10" hspace="10" alt="badge1">

    <img class="badge"
      src="https://res.cloudinary.com/practicaldev/image/fetch/s--Sqzy8EDG--/c_limit,f_auto,fl_progressive,q_80,w_192/https://dev-to-uploads.s3.amazonaws.com/uploads/badge/badge_image/160/Community_Wellness_Streak_Badge-01.png"
      vspace="10" hspace="10" alt="badge2">

    <img class="badge"
      src="https://res.cloudinary.com/practicaldev/image/fetch/s--L0O-vvgc--/c_limit,f_auto,fl_progressive,q_80,w_192/https://dev-to-uploads.s3.amazonaws.com/uploads/badge/badge_image/3/Discussion_BAdges-03.png"
      vspace="10" hspace="10" alt="badge3">

    <img class="badge"
      src="https://res.cloudinary.com/practicaldev/image/fetch/s--9BR4RYdC--/c_limit,f_auto,fl_progressive,q_80,w_192/https://dev-to-uploads.s3.amazonaws.com/uploads/badge/badge_image/2/Version2-08.png"
      vspace="10" hspace="10" alt="badge4">
  </div>
</div>
