<div class="container">
  <div class="left-container">
    <div class="title">PetPlanet</div>
    <div class="button-container">
      <div class="action-button" routerLink="/homepage">
        <i class="material-icons">home</i>
        <div class="label">Homepage</div>
      </div>
      <div class="action-button" routerLink="/register" *ngIf="!checkAnimal()">
        <i class="material-icons">create</i>
        <div class="label">Inserisci informazioni animale</div>
      </div>
      <div class="action-button" routerLink="/register" *ngIf="checkAnimal()">
        <i class="material-icons">create</i>
        <div class="label">Modifica dati animale</div>
      </div>
      <div class="action-button" routerLink="/post">
        <i class="material-icons">local_post_office</i>
        <div class="label">I miei post</div>
      </div>
      <div class="action-button" (click)="openPetFriendDialog()">
        <i class="material-icons">group</i>
        <p>petFriend: <span class="colorButtonPet">{{ friendsList.length }}</span> </p>
      </div>
      <div class="action-button" (click)="openFollowerDialogComponent()">
        <i class="material-icons">people_outline</i>
        <p>petFollower: <span class="colorButtonPet">{{ followersList.length }}</span></p>
      </div>
    </div>
  </div>

  <div class="imageAndIndoContainer"  *ngIf="!checkAnimal()">
    <mat-card class="info-animale-position">
        <mat-card-content>
            <h2 class="textInsertData">Dati animale da inserire</h2>
        </mat-card-content>
    </mat-card>
</div>

  <div class="imageAndIndoContainer"  *ngIf="checkAnimal()">
    <div class="image-profile-container">
      <img mat-card-image class="profilePic" *ngIf="animal.image && animal.image" [src]="imageURL"
        alt="Photo of the animal">
    </div>
  
    <div class="info-animale-container">
  
      <mat-card class="info-animale-position">
        <mat-card-content *ngIf="checkAnimal()">
          <!-- <img *ngIf="animal.image && animal.image.data" [src]="imageURL"> -->
          <h2>{{ animal.nome }}</h2>
          <p>Tipo: {{ animal.tipoAnimale }}</p>
          <p *ngIf="animal.razza">Razza: {{ animal.razza }}</p>
          <p *ngIf="animal.sesso">Sesso: {{ animal.sesso }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <div class="badge-container">
    <h1 class="title-badge">I tuoi badge</h1>

    <img class="badge"
      src="../../../assets/document.gif"
      vspace="10" hspace="10" alt="badge1"
      *ngIf="checkAnimal()"
      >

      <img class="badge"
      src="../../../assets/unlike.png"
      vspace="10" hspace="10" alt="badge1"
      *ngIf="!checkAnimal()"
      >

      <img class="badge"
      src="../../../assets/folder.gif"
      vspace="10" hspace="10" alt="badge4"
      *ngIf="animal.image"
      >

      <img class="badge"
      src="../../../assets/forecasting.png"
      vspace="10" hspace="10" alt="badge4"
      *ngIf="friendsList.length"
      >

      <img class="badge"
      src="../../../assets/fans.gif"
      vspace="10" hspace="10" alt="badge4"
      *ngIf="followersList.length"
      >

      <img class="badge"
      src="../../../assets/trophy.gif"
      vspace="10" hspace="10" alt="badge4"
      *ngIf="friendsList.length && followersList.length && animal.image && checkAnimal()"
      >
  </div>
</div>
