<div class="container">
    <div class="form-container">
      <label for="name">Nome</label>
      <input type="text" id="name" name="name" [(ngModel)]="datiRegistrazione.nome" required>
  
      <label for="animal-type">Tipo di animale</label>
      <input type="text" id="animal-type" name="animal-type" [(ngModel)]="datiRegistrazione.tipoAnimale" required>
  
      <label for="gender">Sesso</label>
      <select id="gender" name="gender" [(ngModel)]="datiRegistrazione.sesso" required>
        <option value="male">Maschio</option>
        <option value="female">Femmina</option>
        <option value="other">Altro</option>
      </select>
  
      <label for="breed">Razza</label>
      <input type="text" id="breed" name="breed" [(ngModel)]="datiRegistrazione.razza" required>
  
      <button type="button" (click)="salvaInformazioni()">Salva informazioni</button>
  
      <!-- Mostra il pulsante Elimina solo se è presente un animale -->
      <button type="button" *ngIf="animal" (click)="eliminaAnimale()">Elimina animale</button>
    </div>
  </div>
  