.nav-container {
    display: flex;
    justify-content: center;
}

nav a {
    font-size: 16px;
    margin: 0 10px;
    text-decoration: none;
    color: white;
}

.mat-toolbar{
    background-color: cornflowerblue;
    color: white;
  }
  .mat-button{
     color: white;
  }