<div class="nav-container">
  <mat-toolbar color="primary">
    <nav>
      <ng-container *ngIf="isUserAuthenticated(); else loginNav">
        <a routerLink="/homepage">Homepage</a>
        <a routerLink="/profile">Profile</a>
        <a (click)="logout()">Logout</a>
      </ng-container>
      <ng-template #loginNav>
        <a routerLink="/login">Login</a>
      </ng-template>
    </nav>
  </mat-toolbar>
</div>

<!-- <mat-toolbar color="primary">
  <span>User Management</span>
   <a mat-button>Home</a>
   <a mat-button>About</a>
   <a mat-button>Contact</a>
 </mat-toolbar> -->
