<div class="nav-container">
  <mat-toolbar color="primary">
    <nav>
      <div *ngIf="isUserAuthenticated(); else loginNav" class="wrapper-nav">
        <div class="infoColor" *ngIf=[isVisible]> 
          <img [src]="img" alt="Photo of the user" class="user-photo">
          {{ userInfo?.email }}
        </div>
        <!-- <a (click)="logout()" class="logout-link">Logout</a> -->

        <div class="action-button" (click)="logout()">
          <i class="material-icons">exit_to_app</i>
        </div>
      </div>
      <ng-template #loginNav>
        <a routerLink="/login">Login</a>
      </ng-template>
    </nav>
  </mat-toolbar>
</div>

