<div class="container">
  <div class="left-container">
    <div class="title">PetPlanet</div>
    <div class="button-container">
      <div class="action-button" (click)="openCreatePostDialog(titolo, corpo)">
        <i class="material-icons">add_circle</i>
        <div class="label">Aggiungi Post</div>
      </div>
      <div class="action-button" (click)="openSearchFriendDialog()">
        <i class="material-icons">search</i>
        <div class="label">Cerca nuovi PetFriend</div>
      </div>
    </div>
  </div>

  <div class="post-container">
    <div class="display-post margin postBox">
      <mat-card class="border" *ngFor="let post of posts let i = index">
        <mat-card-header>
          <img mat-card-avatar [src]="imagesUserPostsURL[i]">
          <mat-card-title><b>{{ post.titolo }}</b></mat-card-title>
        </mat-card-header>
        <img mat-card-image [src]="imagesPostsURL[i]" *ngIf="post.img" alt="Photo">
        <mat-card-content>
          <p>{{ post.corpo }}</p>
          <div *ngIf="post.commenti && post.commenti.length > 0">
            <h3 class="textMessage">Commenti:</h3>
            <div *ngFor="let comment of post.commenti">
              <p class="utenteCommento">
                {{ comment.email }}
              </p>
              <p>{{ comment.testo }}</p>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>

          <button mat-button (click)="openCommentDialog(post._id)"><mat-icon>add_comment</mat-icon></button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div class="amici-container">
    <div *ngIf="usersList && usersList.length > 0">
      <h2 class="center-amici-consigliati">Amici consigliati</h2>
      <ul class="friend-list-items">
        <li *ngFor="let user of usersList">
          <div class="friend-info">
            <div mat-card-avatar class="friend-avatar" *ngIf="!user.profilePicture"></div>
            <div mat-card-avatar *ngIf="user.profilePicture"
              [style.background-image]="'url(' + user.profilePicture + ')'"></div>
            <span (click)="redirectToFriendProfile(user._id)">{{ user.email }}</span>
            <div class="friend-buttons">
              <button (click)="followUser(user.email, user._id)">Follow</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div *ngIf="!usersList || usersList.length === 0">
      <h2 class="center-amici-consigliati">Nessun amico da consigliare.</h2>
    </div>
  </div>
</div>