<mat-card class="friend-list">
    <mat-card-header>
        <mat-card-title>PetFriend</mat-card-title>
    </mat-card-header>
    <mat-form-field appearance="fill">
        <textarea matInput placeholder="Inserisci il testo" class="custom-textarea"></textarea>
        <button mat-icon-button matSuffix>
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
    <div *ngFor="let user of usersList" class="containerNewFriend">
        <span>{{ user.email }}</span>
        <div class="friend-buttons">
            <button (click)="followUser( user.email, user._id)">Follow</button>
        </div>
    </div>
</mat-card>