<mat-card class="friend-list">
    <mat-card-header>
        <mat-card-title>petUser</mat-card-title>
    </mat-card-header>

    <mat-icon class="close-icon" (click)="closeDialogPetUser()">clear</mat-icon>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Inserisci il nome del pet" class="custom-textarea" type="text" id="search-text"
            aria-describedby="search-text" [(ngModel)]="searchText" (input)="filterUsers()">
        <span matSuffix><mat-icon>search</mat-icon></span>
    </mat-form-field>

    <div *ngIf="filteredUsers && filteredUsers.length">
        <ul class="friend-list-items">
            <li *ngFor="let user of filteredUsers">
                <div class="friend-info">
                    <div mat-card-avatar class="friend-avatar" *ngIf="!user.profilePicture"></div>
                    <div mat-card-avatar *ngIf="user.profilePicture" [style.background-image]="'url(' + user.profilePicture + ')'"></div>
                    <span (click)="redirectToFriendProfile(user._id)">{{ user.email }}</span>
                    <div class="friend-buttons">
                        <button  (click)="followUser(user.email, user._id)">Follow</button>
                    </div>
                </div>
            </li>        
        </ul>
    </div>

    <div *ngIf="!filteredUsers">
        <ul class="friend-list-items">
            <li *ngFor="let user of usersList">
                <div class="friend-info">
                    <div mat-card-avatar *ngIf="user.profilePicture" [style.background-image]="'url(' + user.profilePicture + ')'"></div>
                    <div mat-card-avatar class="friend-avatar" *ngIf="!user.profilePicture"></div>
                    <span (click)="redirectToFriendProfile(user._id)">{{ user.email }}</span>
                    <div class="friend-buttons">
                        <button  (click)="followUser(user.email, user._id)">Follow</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</mat-card>