<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="left-side">
            <h1 class="custom-h1">petplanet</h1>
            <p class="custom-paragraph">PetPlanet è il rifugio perfetto per chi ama gli animali, un luogo in cui le
                zampe incontrano i cuori e le code si intrecciano in un mondo digitale di amore e divertimento!</p>
        </div>
        <div class="right-side">
            <div class="form-container">
                <label for="email">Email o numero di telefono</label>
                <input type="text" id="email" name="email" required>

                <label for="password" style="position: relative;">
                    Password
                    <input type="{{ hidePassword ? 'password' : 'text' }}" id="password" name="password"
                        [(ngModel)]="password">
                    <mat-icon class="mat-icon" style="position: absolute; right: 8px;" (click)="togglePassword()">
                        {{ hidePassword ? 'visibility_off' : 'visibility' }}
                    </mat-icon>
                </label>
                <button type="submit">Accedi</button>

                <p><a href="#">Password dimenticata?</a></p>
                <button type="button" class="create-account-button" (click)="navigateToRegistration()">Crea nuovo
                    account</button>

                <p class="create-account-description">Crea una Pagina per un personaggio famoso, un brand o un'azienda.
                </p>
            </div>
        </div>
    </div>

    <div class="footer">
        <p>pet-planet © 2023</p>
    </div>
</body>

</html>