<mat-card class="friend-list">
    <mat-card-header>
        <mat-card-title>PetFriend</mat-card-title>
    </mat-card-header>

    <mat-form-field appearance="fill">
        <input matInput placeholder="Inserisci il nome del pet" class="custom-textarea" type="text" id="search-text"
            aria-describedby="search-text" [(ngModel)]="searchText" (input)="filterFriends()">
        <span matSuffix><mat-icon>search</mat-icon></span>
    </mat-form-field>

    <div *ngIf="filteredFriends && filteredFriends.length">
        <ul class="friend-list-items">
            <li *ngFor="let friend of filteredFriends">
                <div class="friend-info">
                    <div mat-card-avatar class="friend-avatar"></div>
                    <span>{{ friend.amico }}</span>
                    <div class="friend-buttons">
                        <button (click)="unfollow(friend._id, friend.amico)">Unfollow</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div *ngIf="!filteredFriends">
        <ul class="friend-list-items">
            <li *ngFor="let friend of friendsList">
                <div class="friend-info">
                    <div mat-card-avatar class="friend-avatar"></div>
                    <span>{{ friend.amico }}</span>
                    <div class="friend-buttons">
                        <button (click)="unfollow(friend._id, friend.amico)">Unfollow</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</mat-card>