<div class="container">
    <div class="left-container">
      <div class="title">PetPlanet</div>
      <div class="button-container">
        <div class="action-button" routerLink="/profile">
            <i class="material-icons">keyboard_backspace</i>
            <div class="label">Indietro</div>
          </div>
      </div>
    </div>

    <div class="post">
        <mat-card class="post-list">
          <mat-card-header>
            <mat-card-title> <b class="title-my-posts">Lista dei miei Post</b></mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <mat-card *ngFor="let post of posts let i = index" class="postContainer">
              <mat-card-header>
                <img mat-card-avatar [src]="imagesUserPostsURL[i]" >
                <mat-card-title><b class="title-my-post">{{ post.titolo }}</b></mat-card-title>
              </mat-card-header>
              <img mat-card-image [src]="imagesPostsURL[i]" *ngIf="post.img" alt="Photo">
              <mat-card-content class="post-content">
                <p class="corpo-my-post">{{ post.corpo }}</p>
                <div *ngIf="post.commenti && post.commenti.length > 0">
                  <h3 class>Commenti:</h3>
                  <ul>
                    <li *ngFor="let comment of post.commenti">
                      {{ comment.testo }}
                    </li>
                  </ul>
                </div>
                <button mat-icon-button color="primary" (click)="openModifyPostDialog(post)">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deletePost(post._id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-card-content>
            </mat-card>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
  