.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    height: 100vh;
}

.left-container {
    width: 25%;
    padding: 20px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: baseline;
    gap: 50px;
    height: 100vh;
}

.title {
    color: #1877f2;
    font-size: 75px;
    font-weight: bold;
    letter-spacing: -1px;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.button-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    align-items: baseline;
}

.action-button {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #3498db;
}

.action-button .material-icons {
    font-size: 40px;
}

.label {
    font-size: 16px;
}


.container-footer {
    height: 70vh;
    padding: 20px;
    width: 180vh;
    display: flex;
    padding-top: 25%;
}

.post {
    background-color: #fff;
    margin: auto;
    width: 50%;
    box-sizing: border-box;
    overflow: hidden;
}

.post-content {
    padding: 20px;
}

.post-list {
    border: 2px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.post-list-content {
    padding: 10px;
}

.post-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.post-list li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

.badge-container {
    width: 25%;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 20px;
}

.badge {
    width: 15%;
}

.postContainer {
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: aliceblue 5px solid;
}

.title-my-posts {
    color: #3498db;
    font-size: 28px;
}

.mat-mdc-card-avatar {
    height: 80px;
    width: 80px;
}

.title-my-post {
    font-size: 24px;
}

.corpo-my-post {
    font-size: 18px;
}