.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container-title {
    display: flex;
    padding: 16px 125px 45px;
    color: #1877f2;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;

}

.form-container button.confirm {
    width: 100%;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 15px;
}

.form-container p {
    color: #606770;
    font-size: 14px;
    margin-top: 8px;
}